@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mengatur scroll halus */
html {
  scroll-behavior: smooth;
}

/* Mengatur font default body */
body {
  font-family: 'Nunito', sans-serif;
  background-color: #050505; /* Menjaga background tetap gelap */
  color: white;
}

/* Kustomisasi Scrollbar (Opsional - agar lebih estetik) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
